body{
    font-family: 'Courier New', Courier, monospace;
}
nav {
    background-color: #eeeeee;
    height: 150px;
}

ul {
    list-style: none;
    display: flex;
    padding-inline : 10px;
    background-color: #424242;
    border: 1px solid;

}

li:nth-of-type(2) {
    background-color: #e0e0e0;

}

li {
    margin-right: 10px;
}

.article{
    display: flex;
    justify-content: space-between;
}
.article>article{
    height: 120px;
    width: 90px;
    background-color: #eee;
}